.arrow-icon svg {
    font-size: calc(15px + (30 - 15) * ((100vw - 320px) / (1440 - 320)));
    color: inherit;
}
.arrow-box {
    width: calc(15px + (30 - 15) * ((100vw - 320px) / (1440 - 320)));
    svg {
        font-size: calc(15px + (24 - 15) * ((100vw - 320px) / (1440 - 320)));
    }
    height: calc(15px + (24 - 15) * ((100vw - 320px) / (1440 - 320)));
}
