.article-text {
    img {
        display: block;
        height: 500px;
        width: auto;
        // max-width: 600px;
        float: left;
    }
}
p {
    background: tomato;
}

@media only screen and (max-width: 720px) and (min-width: 0px) {
    .article-text {
        img {
            width: 100%;
            height: auto;
            margin-bottom: 20px;
        }
    }
}
