$mainColor: #f6ede8;
$mainColor2: #6a6765;
$mainColor3: #536679;
$mainColor4: rgb(160, 140, 89);
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.flex {
    display: flex;
}
.between {
    justify-content: space-between;
}
.end {
    justify-content: flex-end;
}

.is-hover {
    display: none;
}
// * {
//     font-size: 21px;
//     color: black;
// }
.when-hover {
    &:hover {
        box-sizing: border-box;
        .is-hover {
            display: block;
        }
        .not-hover {
            display: none;
        }
    }
}
// reset props
.css-480o17-MuiGrid-root {
    margin-top: 0;
}
ul {
    padding-inline-start: 0;
}
