ul {
    list-style: none;
}
a {
    text-decoration: none;
    font: inherit;
    color: inherit;
}
.flex {
    display: flex;
}
.between {
    justify-content: space-between;
}
.end {
    justify-content: flex-end;
}
.start {
    justify-content: flex-start;
}

.is-hover {
    display: none;
}

.when-hover {
    &:hover {
        box-sizing: border-box;
        .is-hover {
            display: block;
        }
        .not-hover {
            display: none;
        }
    }
}

// reset props
.css-480o17-MuiGrid-root {
    margin-top: 0;
}
ul {
    padding-inline-start: 0;
}
body {
    line-height: normal !important;
}
