@import '../../container/App/App.scss';

.social-media-icons {
    gap: 15px;
}
.social-media-icons a {
    width: calc(30px + (40 - 30) * ((100vw - 320px) / (1440 - 320)));

    svg {
        font-size: calc(25px + (35 - 25) * ((100vw - 320px) / (1440 - 320)));
        color: $mainColor;
    }
}
.hiden-show {
    display: none;
}
@media (max-width: 424px) {
    .hiden-show {
        display: block;
    }
}
