@import '../App/App.scss';
.header-appbar {
    background-color: rgba(111, 107, 105, 0.5);
}
.header-top {
    margin: 10px;
}
.header-top-btn-box button {
    background-color: $mainColor;
    border: $mainColor;
    color: $mainColor2;
    font-size: calc(8px + (14 - 8) * ((100vw - 320px) / (1440 - 320)));
    transition-duration: 1s;
}
.header-top-btn-box button:hover {
    background-color: $mainColor2;
    color: $mainColor;
    transform: scale(1.1);
    transition-timing-function: ease-out;
    box-shadow: 3px 3px rgba(233, 193, 106, 0.9);
}

.menu {
    text-transform: capitalize;
    gap: calc(10px + (50 - 10) * ((100vw - 320px) / (1440 - 320)));
}
.dropdown-menu {
    position: relative;
    ul {
        margin: 0;
    }
    box-sizing: border-box;
}

.dropdown-item {
    position: absolute;
    // background-color: rgba(83, 102, 121, 0.5);
    background: linear-gradient(
        to bottom,
        rgba(83, 102, 121, 0.3),
        rgba(83, 102, 121, 0.75)
    );
    z-index: 10;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
}

.menu {
    color: $mainColor;
    font-size: calc(13px + (20 - 13) * ((100vw - 320px) / (1440 - 320)));
}
.menu > div,
.dropdown-box,
.dropdown-item-li {
    width: calc(75px + (108 - 75) * ((100vw - 320px) / (1440 - 320)));
}

.dropdown-menu:hover {
    background-color: $mainColor;
    .dropdown-box a,
    .dropdown-box svg {
        color: $mainColor2;
    }
}

.dropdown-item-li:hover {
    background-color: $mainColor;
    &.dropdown-item-li a {
        color: $mainColor2;
    }
}
.MuiGrid-root {
    min-height: calc(100vh - 190px);
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}
.modal-block {
    color: $mainColor2;
    width: 350px;
    height: 250px;
    padding: 10px;
    background-color: $mainColor;
    border: 1px solid grey;
    margin: 100px auto;
    border-radius: 20%;
}
.modal-block {
    position: relative;
}
.modal-block form {
    .btn-box {
        text-align: center;
    }
}
.modal-block h1 {
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
}
.form-field {
    margin-bottom: 15px;
}
.form-field input {
    width: 100%;
    height: 30px;
    padding: 5px;
}
.btn-close {
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
    background: none;
    border: none;
    color: $mainColor;
}
.resp-message {
    padding: 20px 15px;
    text-align: center;
    font-size: 20px;
    span {
        text-transform: capitalize;
        font-weight: 500;
    }
}
.modal-hide {
    display: none;
}
.modal-show {
    display: block;
}

@media (max-width: 424px) {
    .header-top {
        flex-direction: column;
        text-align: end;
    }
    .to-hide {
        display: none;
    }
}
