@import '../App/App.scss';
.header-appbar {
    background-color: rgba(111, 107, 105, 0.5);
}
.header-top {
    margin: 10px;
}
.header-top-btn-box button {
    background-color: $mainColor;
    border: $mainColor;
    color: $mainColor2;
    font-size: calc(8px + (14 - 8) * ((100vw - 320px) / (1440 - 320)));
}
.header-top-btn-box button:hover {
    background-color: $mainColor2;
    color: $mainColor;
}

.menu {
    text-transform: capitalize;
    gap: calc(10px + (50 - 10) * ((100vw - 320px) / (1440 - 320)));
}
.dropdown-menu {
    position: relative;
    ul {
        margin: 0;
    }
    box-sizing: border-box;
}

.dropdown-item {
    position: absolute;

    z-index: 10;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
}

.menu {
    color: $mainColor;
    font-size: calc(13px + (20 - 13) * ((100vw - 320px) / (1440 - 320)));
}
.menu > div,
.dropdown-box,
.dropdown-item-li {
    width: calc(75px + (108 - 75) * ((100vw - 320px) / (1440 - 320)));
}

.dropdown-menu:hover {
    background-color: $mainColor;
    .dropdown-box a,
    .dropdown-box svg {
        color: $mainColor2;
    }
}

.dropdown-item-li:hover {
    background-color: $mainColor;
    &.dropdown-item-li a {
        color: $mainColor2;
    }
}
.MuiGrid-root {
    min-height: calc(100vh - 190px);
}
@media (max-width: 424px) {
    .header-top {
        flex-direction: column;
        text-align: end;
    }
    .to-hide {
        display: none;
    }
}
