@import '../../container/App/App.scss';
.slick-prev,
.slick-next {
    display: none !important;
}
.slider-item-image {
    height: calc(100vh - 0px);
    // height: 900px;
    // width: auto;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}
.slick-dots {
    display: flex !important;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    right: 5%;
    width: auto;
    top: 0;
    bottom: 0;
    z-index: 10;
}
.slick-dots li {
    width: 200px;
    height: 80px;
    padding: 5px 20px;
    background: transparent;
    // background: tomato;
    border-radius: 20px;
    margin: 10px 0;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
    background: rgba(150, 145, 145, 0.25);
}
[class*='slider-pag'] {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider-pag1 {
    .slider-child1 {
        display: none;
    }
}
.slider-child1:first-child {
    display: block;
}

.slider-child2:first-child,
.slider-child2:last-child {
    display: none;
}
.slider-pag3 {
    .slider-child3 {
        display: none;
    }
}
.slider-child3:last-child {
    display: block;
}

.slider-child1,
.slider-child2,
.slider-child3 {
    width: 100%;
    height: 100%;
    margin-top: 25%;
    color: $mainColor;
    opacity: 0.75;
    text-align: center;
    font-size: 14px;
    font-weight: 200;
    line-height: 1.5;
    padding: 0 5px;
}
.slick-dots li.slick-active {
    background: rgba(0, 0, 0, 0.45);
    [class*='slider-child'] {
        color: #ffffff;
        opacity: 1;
    }
}

.slider-item-content {
    position: absolute;
    top: 0;
    height: 100%;
    max-width: 70%;
    left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 15px;
    z-index: 10;
}

.slider-item-title {
    margin: 15px 0;
    width: 95%;
}
.slider-item-title a {
    color: $mainColor;
    font-size: 20px;
    font-weight: 900;
    line-height: 1.4;
    transition: all 0.3s ease-in-out;
}
.slider-item-title a:hover {
    color: #f399a2;
    box-shadow: 0 1px 10px rgba(228, 218, 218, 0.9);
}

.slider-item-date {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
}
.slick-dots li button:hover::after {
    opacity: 1;
}

@media (min-width: 1200px) {
    .item-title {
        width: 100%;
    }
    .slider-item-title a {
        font-size: 28px;
    }
}
